<h1>
    <label>
        Name:
        <span ng-bind="name" ng-if="!editMode"></span>
        <input ng-model="new.name" type="text" ng-if="editMode" />
    </label>
</h1>
<button class="btn btn-primary" ng-click="editCategory()" ng-if="!editMode">Edit</button>
<button class="btn btn-danger" ng-click="deleteCategory()" ng-if="!editMode">Delete</button>
<button class="btn btn-danger" ng-click="cancelEditing()" ng-if="editMode">Cancel</button>
<button class="btn btn-success" ng-click="submitEditing(new)" ng-if="editMode">Done</button>