<h1>
    <label>
        Name:
        <span ng-bind="name" ng-if="!editMode"></span>
        <input ng-model="new.name" type="text" ng-if="editMode" />
    </label>
</h1>
<h2>
    <label>
        Category: <span ng-bind="category" ng-if="!editMode"></span>
        <select ng-model="new.category" ng-if="editMode">
            <option ng-repeat="category in categories" value="{{category.ID}}" ng-bind="category.Category"></option>
        </select>
    </label>
</h2>
<h2>
    <label>
        Sale Price: <span ng-bind="salePrice" ng-if="!editMode"></span>
        <input ng-model="new.salePrice" type="text" ng-if="editMode" />
    </label>
</h2>
<h2>
    <label>
        Firm: <span ng-bind="firm" ng-if="!editMode"></span>
        <select ng-model="new.firm" ng-if="editMode">
            <option ng-repeat="firm in firms" value="{{firm.ID}}" ng-bind="firm.Name"></option>
        </select>
    </label>
</h2>
<h2>
    <label>
        Measurement Unit: <span ng-bind="measurementUnit" ng-if="!editMode"></span>
        <input ng-model="new.measurementUnit" type="text" ng-if="editMode" />
    </label>
</h2>
<h2>
    <label>
        Quantity: <span ng-bind="quantity" ng-if="!editMode"></span>
        <input ng-model="new.quantity" type="text" ng-if="editMode" />
    </label>
</h2>
<button class="btn btn-primary" ng-click="editItem()" ng-if="!editMode">Edit</button>
<button class="btn btn-danger" ng-click="deleteItem()" ng-if="!editMode">Delete</button>
<button class="btn btn-danger" ng-click="cancelEditing()" ng-if="editMode">Cancel</button>
<button class="btn btn-success" ng-click="submitEditing(new)" ng-if="editMode">Done</button>